/* Stephen O'Connor */
body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.contacticons ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacticons ul li {
	display: inline-block;
	margin-left: 5px;
}

.contacticons ul li img {
	width: 30px;
	border-radius: 50%;
}